@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainbg: rgb(10, 25, 47);
  --scrollbar-colour: rgb(73, 86, 112);
  --scrollbar-colour-hover: rgb(55, 65, 84);
  --foreground: rgb(17, 34, 64);
  --primary: rgb(100, 255, 218);
  --copy: rgb(204, 214, 246);
  --copylight: rgb(136, 146, 176);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.4rem;
  padding-right: 0.5rem; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-colour);
  border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: var(--scrollbar-colour-hover);
}

body {
  background-color: var(--mainbg);
}
